@model IEnumerable<ARPA20250320.AppWebMVC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4" style="font-family:'Cambria Math'">Usuarios</h1>

<p>
    <a asp-action="Create" class="text-secondary">Crear Nuevo usuario!!</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary btn-sm me-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info btn-sm">Detalle</a>
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
